table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .responsive-table table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
        display: block;
    }

    /* Every 5, 10, 15 etc rows */
    .responsive-table tr:nth-child(1n) {
        @apply mb-4;
    }

    .responsive-table thead {
        @apply bg-indigo-700;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    .responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .responsive-table td:before { content: attr(data-title); }
}
